/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Reset End*/

body{
    height: 100vh;
    width: 100%;

    font-family: 'Zen Antique Soft', serif;
    font-size: 50pt;
    color: white;

    position: relative;
}

#contents{
    box-sizing:border-box;

    background-color:blanchedalmond;
    height:100%;

}

#tripselection{
    display:inline-flex;
    height:100%;
    width:100%;
    align-items: center;
}

.trip{
    /* position:relative;
    display:inline-grid; */
    height:70%;
    width:calc(100% / 3);
    background-color: blue;
}

.trip:hover{
    transform:scale(1.2,1.2);
}

.tripTitle{
    display:flex;
    justify-content: center;
    margin-bottom:5%;
    height:20%;
    color:black;
}

.photos{
    display:flex;
    justify-content: center;
    align-items: center;
    /* flex-direction:column;
    flex-wrap:wrap; */
    height:80%;
}

.photo{
    position:relative;
    /* display:flex;
    justify-content: center; */
    /* height:100%; */
    width:80%;
    

    padding-top:80%;
    /* padding-bottom:10%; */

    box-sizing:border-box;

    background-color:antiquewhite;
    display:inline-block;

}

/* .photo{
    height:100%;
    width:100%;
    object-fit:cover;
} */

.photo img{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    object-fit:cover;
}

/* input{
    border:solid 1px #333;
}

button{
    margin:10px 0;
    position:fixed;
    left:90vw;
    top:0;
} */

#menubtn img{
    position:absolute;
    width:100%;
    max-width:50px;
    left:80vw;
    top:0;
}

#menuContent{
    position: absolute;
    top: 0;
    right: 0;
}

.menu-hidden{
    display:none;
}

#menu-input:checked ~ #groupmenu{
    display:block;
    right:0;
    animation: 1s slideIn;
    /* animation:1s fadeIn; */
}

/* @keyframes fadeIn{
    from{opacity:0;}
    to{opacity:1;}
} */

@keyframes slideIn{
    0% {
        transform: translateX(180px);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
      }
      40%,100% {
        opacity: 1;
      }
}

#menubtn{
    display:block;
}

#groupmenu{
    background-color:darkgrey;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    text-align: center;
    display:none;
    /* right:-100%;
    transition:right 1s; */
    /* padding:20px 3%; */
}

#groupmenu-scroll{
    overflow:auto;
    /* webkit overflow scrolling:touch; */
    width:100%;
    height:100%;
    /* padding:0 15px 15px; */
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

#groupmenu-content{
    text-align: left;
    font-size: 1.2rem;
}

ul ,li{
    position: relative;
    list-style-position: inside;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    /* transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    transition-delay: 0s; */
}
