/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}


ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Reset End*/

body{
    height: 100vh;
    width: 100%;

    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 50pt;
    color: white;

    position: relative;
}

.swiper-slide a {
    /* position:relative; */
    /* display:inline-block; */
    height:100%;
    width:100%;
    text-decoration:none; 
}

#contents{
    display:flex;
    position:fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom:0px;
    box-sizing:border-box;

    background-color:white;
    height:100%;
    align-items:center;

}

#locationcontainer{
    /* position:absolute; */
    /* justify-content: center; */
    /* display:flex;
    justify-content: center; */
    width: 100%;
    height:80vh;
    /* margin: 40px 0;
    padding: 45px 0; */
}

.swiper-wrapper{
    position:absolute;
    /* display:inline-flex; */
    /* justify-content: center; */
    /* display:inline-flex; */
    height:100%;
    width:100%;
    align-items: center;
}

.swiper-slide{
    /* position:absolute; */
    /* position:relative; */
    /* display:flex;
    justify-content: center; */
    /* display:flex; */
    justify-content: center;
    opacity: 0.4;
    overflow: hidden;
    transition: .5s;
    height:70%;
    /* background-color:deepskyblue; */
}

.swiper-slide-active {
    opacity: 1;
    z-index: 1;
    transform: scale(1.5); /* スライドの大きさ調整 */
}

#triptitle{
    /* display:flex; */
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 50pt;
    color:black;
    justify-content: center;
    /* z-index:3; */
}

.tripplace{
    /* display:flex; */
    position:absolute;
    /* justify-content: center; */
    margin-bottom:5%;
    /* height:-75%; */
    left:30pt;
    font-size:30pt;
    top:80%;
    color:black;
}

.photos{
    display:flex;
    justify-content: center;
    align-items: center;
    height:80%;
    margin: 40px 0;
    padding: 45px 0;
}

.photo{
    position:relative;
    width:80%;
    padding-top:80%;

    box-sizing:border-box;

    background-color:antiquewhite;
    display:inline-block;

}

.photo img{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    object-fit:cover;
}

#menubtn img{
    position:absolute;
    width:100%;
    max-width:50px;
    left:95vw;
    top:0;
    z-index:3;
}

/* メニューシステム全体の箱 */
#menuContent{
    position: absolute;
    top: 0;
    right: 0;
}

.menu-hidden{
    display:none;
}

#menu-input:checked ~ #groupmenu{
    display:block;
    right:0;
    animation: 1s slideIn;
}

@keyframes slideIn{
    0% {
        transform: translateX(180px);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
      }
      40%,100% {
        opacity: 1;
      }
}

#menubtn{
    display:block;
}

/* メニュー欄の箱 */
#groupmenu{
    background-color:darkgrey;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    text-align: center;
    display:none;
    z-index: 2;
    padding-top:35px;
}

#groupmenu-scroll{
    overflow:auto;
    width:100%;
    height:100%;
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

#groupmenu-content{
    text-align: left;
    font-size: 1.2rem;
}

ul ,li{
    position: relative;
    list-style-position: inside;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
}

.Detail{
    position:absolute;
    /* display:flex;
    justify-content: center; */
    top:20%;
    color:grey;
    text-shadow: 1px 2px 3px #808080;
    font-size:25pt;
    z-index:5;
}

/* -----------------------------------フィルタリング機能----------------------------------- */
/* [value="All"]:checked + #locationcontainer .swiper-wrapper[data-category]{
    display:block;
}
[value="People"]:checked + #locationcontainer .swiper-wrapper .swiper-slide:not([data-category~="people"]),
[value="Food"]:checked + #locationcontainer .swiper-wrapper .swiper-slide:not([data-category~="food"]),
[value="Back"]:checked + #locationcontainer .swiper-wrapper .swiper-slide:not([data-category~="back"]){
    display:none;
} */
/* --------------------------------------------------------------------------------------- */

/* #timeLinebar{
    height: 10px;
    width: 100%;
    position: absolute;
    top: 90%;

    background-color:black;
} */