/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**/
body{
    height: 100vh;
    width: 100%;

    font-family: 'Zen Antique Soft', serif;
    font-size: 10vh;
    color: white;

    position: relative;
}

#contents{
    box-sizing: border-box;
    
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-color: dimgrey;
    /* background: linear-gradient(0deg, rgba(6,6,80,1) 0%, rgba(16,63,167,1) 100%);  */

    width: 100%;/*これいらんかも*/
    height: 100%;

    /* display: inline-block; */
    overflow-x: scroll;
}
#leftSpacer{
    width: 10vh;
    display: inline-block;
}

#locationHighliteWrapper{
    height: 100%;
    display: inline-flex;
    flex-wrap: nowrap;

}

.locationHighlite{
    display:inline-grid;
    height: 100%;
}

.locationName{
    position: -webkit-sticky;
    position: sticky;
    left:0;

    height: 20%;


}

.photos{
    display: inline-grid;
    /* flex-direction: column; */
    height: 80%;
    /* grid-template-columns: 1fr 1fr;画面寸法に応じて行増やせると良い */
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    grid-gap: 2%;
}
.photo{
    box-sizing: border-box;

    height: 100%;
    width: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;

    writing-mode: horizontal-tb;
}
.photo .quarteredPhoto{
    box-sizing: border-box;
    height:48%;
    width:48%;
}

.photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.quarteredPhoto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}